/********************************
PROFILE CARD
********************************/
.s-profile-card {
    width: $max;
    min-height: 190px;
    background-color: $white;
    border-radius: 4px;
}

.s-profile-head {
    position: relative;
    width: $max;
    min-height: 105px;
    padding: $m4 35px;
    border-radius: 4px 4px 0 0;
    background: {
        color: #fdfdfd;
        image: linear-gradient(
                        0deg,
                        rgba(35, 44, 56, 0.35),
                        rgba(69, 79, 92, 0.25)
        ), url("/img/profile-bg_03.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

.s-profile-img {
    position: absolute;
    left: 24px;
    height: auto;
    border-radius: $max;

    img {
        width: $max;
        height: auto;
        border-radius: $max;
    }

    &.smaller {
        bottom: -32px;
        width: 72px;
    }

    &.bigger {
        bottom: -37px;
        width: 86px;
    }
}

.s-profile-body {
    padding: 50px 23px 22px 24px;

    h4 {
        margin-bottom: $m * 1.25;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: $ls;
        color: $midBlue;
    }

    span {
        display: block;
        margin-bottom: $m3;
        color: $ltGrey;
        font-size: 1.475rem;
        font-weight: 300;
    }

    .btn-primary {
        display: block;
        background-color: #335895;
        color: $drkWhite;
        &:hover {
            background-color: $primary;
        }
    }
}

.s-profile-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: $max;
    min-height: 80px;
    padding: 18px 23px 25px 24px;
    border-top: 1px solid rgba(178, 178, 178, 0.275);

    h6 {
        margin-bottom: $m * 1.25;
        font-size: 1.35rem;
        font-weight: 300;
        letter-spacing: $ls;
        color: $ltGrey;
    }

    h4 {
        margin-bottom: $m * 1.05;
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: $ls1;
        color: $midBlue;
    }
}

.s-profile-footer-item {
    width: 40%;
    height: auto;

    &:nth-of-type(2) {
        width: 60%;
    }
}
