@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Manrope:wght@200;300;400;500&display=swap');

@font-face {
    font-family: 'Adinda Melia', cursive;
    src: url("https://amorvitae.pt/fonts/AdindaMelia.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adinda Melia', cursive;
    src: url("https://amorvitae.pt/fonts/AdindaMelia.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adinda Melia', cursive;
    src: url("https://amorvitae.pt/fonts/AdindaMelia.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adinda Melia', cursive;
    src: url("https://amorvitae.pt/fonts/AdindaMelia.woff2");
    font-weight: normal;
    font-style: normal;
}

// Dimensions
$max: 100%;
$half: $max / 2;
$third: $max / 3;
$quarter: $max / 4;
$tenth: $max / 10;

// Temporary
$pxUnit: 8px;
$rmUnit: 0.8rem;

$rm: 0.8rem;
$px: 8px;

// Fonts
$fontA: 'Lora', serif;
$fontB: 'Manrope', sans serif;
$fontC: 'Adinda Melia', cursive;

// Spacings:
// margins, line heights
$m: $rm / 2;
$m1: $rm;
$m2: $rm * 2;
$m3: $rm * 3;
$m4: $rm * 4;
$m5: $rm * 5;
$m6: $rm * 6;
$m7: $rm * 7;
$m8: $rm * 8;
$m9: $rm * 9;
$m10: $rm * 10;

// Spacings:
// letters spacings
$ls: 0.025rem;
$ls1: 0.05rem;
$ls2: 0.075rem;
$ls3: 0.1rem;
$ls4: 0.2rem;
$ls5: 0.375rem;
$ls6: 0.5rem;
$ls7: 0.65rem;
$ls8: 0.8rem;
$ls9: 1.0rem;
$ls10: 1.5rem;

// Colors
$white: #ffffff;
$drkWhite: #edebec;
// rgba(237, 235, 236, 1);
$drkBlue: #0d1f2d;
$blue: #314554;
$midBlue: #546a7b;
$ltBlue: #9599a5;
$blGrey: #9ea3b0;


// Colors
$white: #ffffff;
$drkWhite: #edebec;
$bege: #f5f0ed;

//$bege: #ede6e2;

$midDark: #606060;
$gold: #ab915d;
$drkGold: #c4790a;

// Alerts & Notifications
//$primary: $vBlue;
$secondary: #52637f;
$success: #59ce28;
$danger: #ef3749;
$warning: #efd23f;
$info: #14ad9f;
$light: #dfe5ef;

// Alerts & Notifications
//$vBlue: rgba(8, 95, 167, 1);
$secondary: rgba(82, 99, 127, 1);
$success: rgba(89, 206, 40, 1);
$danger: rgba(239, 55, 73, 1);
$warning: rgba(239, 210, 63, 1);
$info: rgba(20, 173, 159, 1);
$light: rgba(223, 229, 239, 1);
$dark: rgba(44, 51, 59, 1);

// Extra colors
$midGrey: $ltBlue;